<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- this is where to include CDN stuff -->
    <!-- if actually downloading the files, they go in public folder -->
  </head>
  <body>
    <!-- index.hbs will get inserted into body -->
    {{{body}}}
  </body>
</html>
