<!-- everything defaults to the public folder -->
<!-- Example: -->
<!-- to reference something there, then: "./images/image.png" -->
<h1>{{title}}</h1>


<a href="../">Go back to the index page.</a>
